@tailwind base;
@tailwind components;
@tailwind utilities;
.text-limit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.show-more{
    color: rgb(99 102 241);
}
